.contact {
  grid-column: 2/3;
  display: grid;
  padding: 3.5rem 2rem 2rem 2rem;
  position: relative;
}
.contact-wrapper {
  display: flex;
}
.contact-wrapper p {
  color: #f5f5f7;
}
.contact:before {
  grid-column: 1/-1;
  content: "";
  background: linear-gradient(to right, #2196f3, #003785);
  width: 95%;
  height: 1px;
  position: absolute;
  justify-self: center;
}
.contact-wrapper {
  display: flex;
  justify-content: center;
  gap: 10rem;
}
.contact-wrapper img {
  margin: 0 auto;
  width: 2rem;
  border-radius: 50%;
  padding: 0.25rem;
  transition: 0.3s;
}
.contact-wrapper a:hover img {
  background: #0078D4;
}
@media (max-width: 800px) {
  .contact h2 {
    text-align: center;
  }
  .contact-wrapper {
    gap: 3rem;
  }
  .contact-wrapper a:hover img {
    background: #212121;
  }
  .contact-wrapper a:active img {
    background: #0078D4;
  }
}
