.contact {
  grid-column: 2/4;
  padding: 2rem .75rem 2rem .75rem;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr;
}
.contact-email {
  grid-area: 2/2;
  text-align: center;
}
.contact-linkedin {
  grid-area: 2/3;
  text-align: center;
}
.contact-github {
  grid-area: 2/4;
  text-align: center;
}
.contact img {
  width: 3rem;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .contact {
    grid-column: 1/5;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contact div{
    grid-column: 1/4;
  }
}
