.contact {
  grid-column: 2/4;
  padding: 2rem .75rem 2rem .75rem;
  display: grid;
  grid-template-columns: 40px 1fr 1fr 1fr;
}
.contact div{
  display: grid;
  grid-column: 2/5;
  justify-items: center;
}
.contact p {
  grid-row: 2;
}
.contact img {
  width: 3rem;
}
@media (max-width: 800px) {
  .contact .dark-theme {
    grid-column: 1/5;
  }
}
