.education {
  grid-column: 2/4;
  display: grid;
  padding: 2rem .75rem 2rem .75rem;
  grid-template-columns: 40px auto 1fr;
}
.education img {
  grid-area: 2/2;
}
.education p {
  padding-left: 1rem;
  grid-area: 2/3;
}
@media (max-width: 800px) {
  .education img {
    grid-column: 2;
  }
  .education p {
    padding-left: 1rem;
    grid-column: 3/-1;
  }
}
