.education {
  grid-column: 2/3;
  display: grid;
  padding: 3.5rem 2.6rem 2rem 2.6rem;
  grid-template-columns: auto 1fr;
  position: relative;
  scroll-margin-top: 58px;
}
.education:before {
  grid-column: 1/-1;
  content: "";
  background: linear-gradient(to right, #2196f3, #003785);
  width: 95%;
  height: 1px;
  position: absolute; 
  justify-self: center;
}
.education img {
  grid-column: 1;
}
.education p {
  padding-left: 1rem;
  grid-area: 2/2;
}
@media (max-width: 800px) {
  .education img {
    grid-column: 1;
  }
  .education p {
    padding-left: 1rem;
    grid-column: 2/-1;
  }
  .education h2 {
    text-align: center;
  }
}
