@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: #f5f5f7;
  background: #212121;
  overflow-x: hidden;
}
button {
  font-family: "Rubik", sans-serif;
}
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dl,
dd {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
img[src$=".jpg"] {
  border-radius: 4px;
}
p,
dd {
  line-height: 1.5;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 1170px) 1fr;
}
::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-track {
  background: #424242;
}
::-webkit-scrollbar-thumb {
  background: #686868;
  border-left: 2px solid #424242;
  border-right: 2px solid #424242;
}
::-webkit-scrollbar-thumb:hover {
  background: #7b7b7b;
}
::-webkit-scrollbar-thumb:active {
  background: #a5a5a5;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background: url('./../img/icons8-sort-down-100\ \(1\).png') #424242 center / 9px no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background: url('./../img/icons8-ordem-descendente-100\(3\).png') #4f4f4f center / 9px no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background: url('./../img/icons8-ordem-descendente-100\(5\).png') #b5b5b5 center / 9px no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  background: url('./../img/icons8-sort-down-100\(2\).png') #424242 center / 9px no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background: url('./../img/icons8-ordem-descendente-100\ \(4\).png') #4f4f4f center / 9px no-repeat;
}
::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background: url('./../img/icons8-ordem-descendente-100\ \(6\).png') #b5b5b5 center / 9px no-repeat;
}
