.button {
  background: linear-gradient(to right, #2196f3, #003785);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: .3s
}
.button:hover {
  color: #000;
}
.subtitle {
  font-size: 1.75rem;
  padding-bottom: 2rem;
  grid-column: 1/-1;
}
@media (max-width: 800px) {
  .button:hover {
    color: #000;
  }
  .button:active {
    color: #000;
  }
}
