.button {
  background: #AF73FA;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: .2s;
}
.button:hover {
  background: #62408c;
}
.subtitle {
  font-size: 1.75rem;
  padding-bottom: 2rem;
  grid-column: 1/-1;
}
@media (max-width: 800px) {
  .button:hover {
    background: #AF73FA;
  }
  .button:active {
    background: #62408c;
  }
}
