.button1 {
  background: #0071e3;
  color: #f5f5f7;
  border: none;
  border-radius: 25px;
  padding: 0.7rem 1.25rem .7rem 1rem;
  transition: .3s;
  display: flex;
  align-items: center;
  gap: .25rem;
}
.button1 img,
.button2 img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.introduction .button1 img {
  width: 15px;
  height: 15px;
}
.button1:hover {
  background: #0054a8;
}
.button2 {
  margin-left: 1rem; 
  background: #212121;
  color: #0071e3;
  border: 1px solid #0071e3;
  border-radius: 25px;
  padding: 0.7rem 1.25rem .7rem 1rem;
  display: flex;
  align-items: center;
  transition: .3s;
  gap: .25rem;
}
.button2:hover {
  background: #0071e3;
  color: #f5f5f7;
}
.subtitle {
  font-size: 1.75rem;
  padding-bottom: 4rem;
  grid-column: 1/-1;
  color: #f5f5f7;
}
h3 {
  color: #f5f5f7;
}
@media (max-width: 800px) {
  .button1:hover {
    background: #0071e3;
  }
  .button2:hover {
    background: #212121;
    color: #0071e3;
  }
  .button1:active {
    background: #0054a8;
  }
  .button2:active {
    background: #0071e3;
    color: #f5f5f7;
  }
}
